<div class="center hero-uint">
	<h1>Welcome to the Third App</h1>
	<h2>this is my homepage.I am <a href="http://www.herui.me">贺睿</a>
	</h2>
	<%=link_to "Sign up now!",signup_path,class:"btn btn-large btn-primary"%>
</div>
<%=link_to image_tag("rails.png",alt:"Rails"),'http://rubyonrails.org/',id:"rubypic"%>