@import "bootstrap";

$grayMediumLight: #eaeaea;
$grayLight:#999;
$grayDarker:#222;
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/*‘.’说明样式化一个 class*/
.center {
  text-align: center;
 /*嵌套的使用方法*/
  h1 {
  margin-bottom: 10px;
}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  //使用了Sass形式的颜色变量与内置颜色名称
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
/*HTML 中的颜色代码是由 3 个 16 进制数组成的，分别代表了三原色中的红、绿、蓝。#ffffff 是 3 种颜色都为最大值的情况，代表了纯白色。。#fff 是 #ffffff 的简写形式*/
/*‘#’说明样式化一个id*/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  //使用内置的颜色名称
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  line-height: 1;
  //使用&表示引用父级元素
  &:hover{
      color: white;
      text-decoration: none;
  }
}


#rubypic{
	align-right: 100px;
}
/* footer */
/* 添加底部所需的CSS */

footer {
  margin-top: 100px;
  padding-top: 1px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
    color: $gray;
    &:hover{
      color: $grayDarker;
    }
  }
  small{
    float: left;
  }
  ul{
    float: right;
    list-style: none;
    li{
      float: left;
      margin-left: 10px;
    }
  }
}
